<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <% if (locals.user) {%>
    <div id="locals">
      <h1 id="header">WELCOME BACK <%= user.fname %>
      </h1>
      <form action="/join" method="POST">
        <label for="code">Enter secret code to join our special membership!</label>
        <input for="code" name="code" type="text">
        <input for="username" name="username" id="hide" type="text" value="<%= user.username %>">
        <button type="submit">Join Membership</button>
      </form>
      <a href="/log-out">LOG OUT</a>
    </div>

    <a href='/message'><button type="button">Write a message</button></a>

    <div id="messages">
      <% messages.forEach(message=> { %>
        <div class="message-block">
          <div class="header">
            <h1 class="title">
              <%=message.title%>
            </h1>
            <h2 class="author" id="<%=membership%>">
              <%=message.author%>
            </h2>
          </div>
          <div class="body">
            <%=message.text%>
              <p class="time" id="<%=membership%>">
                <%=message.time%>
              </p>
          </div>
          <!-- <table>
            <thead>
              <tr>
                <th id="title" scope="row">Title</th>
                <th id="author" scope="row">Author</th>
                <th id="date" scope=" row">Date</th>
                <th id="message" scope="row">Message</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= message.title %>
                </td>
              </tr>
              <tr class="author" id="<%=membership%>">
                <td>
                  <%=message.author%>
                </td>
              </tr>
              <tr class="time" id="<%=membership%>">
                <td>
                  <%=message.time%>
                </td>
              </tr>
              <tr class="text">
                <td>
                  <%=message.text%>
                </td>
              </tr>
            </tbody>
          </table> -->
        </div>
        <%});%>
    </div>

    <% } else { %>
      <h1>Please log in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button type="submit">Log In</button>
      </form>

      <a href="/sign-up">Or Create Account</a>
      <%}%>

</body>

</html>